{% extends "base.html" %}

{% load static %}
{% block title %}
    Stark | Bienvenido de Vuelta
{% endblock title %}

{% block content %}
<div class="pt-10 p-10 m-5 flex flex-col lg:flex-row items-center justify-between gap-12">

    <!-- Sección para usuarios autenticados -->
    {% if user.is_authenticated %}
        <section id="static-text" class="lg:w-3/5 w-full flex items-center justify-center">
            <div class="text-center space-y-6">
   
                <h1 class="text-6xl font-extrabold text-transparent bg-clip-text bg-gradient-to-br from-gray-800 via-pink-800 to-gray-800" 
                    style="font-family: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';">
                    Bienvenido de vuelta a Stark CMS
                </h1>
         
                <p class="text-gray-700 text-lg leading-relaxed" 
                    style="font-family: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';">
                    Explora los nuevos artículos, comparte tus opiniones y participa en los debates más apasionantes. ¡Gracias por ser parte de <span style="font-family: 'Merriweather', serif;">Stark</span>!
                </p>
            </div>
        </section>

    <!-- Sección para visitantes -->
    {% else %}
        <section id="dynamic-text" class="lg:w-1/2 w-full flex items-center justify-center">
            <div class="text-center space-y-12">
                <div class="text-center text-5xl font-bold ">
                    <span style="font-family: 'Roboto', sans-serif;">The North Remembers</span>
                    <div class="relative inline-grid grid-cols-1 grid-rows-1 gap-12 overflow-hidden">
                        <span class="animate-word col-span-full row-span-full" style="font-family: 'Playfair Display', serif;">Stories</span>
                        <span class="animate-word-delay-1 col-span-full row-span-full" style="font-family: 'Playfair Display', serif;">Voices</span>
                        <span class="animate-word-delay-2 col-span-full row-span-full" style="font-family: 'Playfair Display', serif;">Opinions</span>
                        <span class="animate-word-delay-3 col-span-full row-span-full" style="font-family: 'Playfair Display', serif;">Debates</span>
                        <span class="animate-word-delay-4 col-span-full row-span-full" style="font-family: 'Playfair Display', serif;">Connections</span>
                    </div>
                </div>
                <p class="text-gray-600 text-sm">
                    Stark es el lugar donde las ideas se encuentran. Lee los mejores contenidos, participa en los debates y comparte tus pensamientos.
                </p>
            </div>
        </section>
    {% endif %}

    <!-- Carrusel  -->
    <section id="carousel-posts" class="hidden xl:block xl:w-3/5 w-full mt-10 xl:mt-0">
        <div class="gallery border-2 rounded-xl mx-auto m-5 bg-white shadow-lg" style="width:750px;">
      
            <div class="top flex p-2 border-b select-none rounded-t-xl bg-gray-100">
                <div class="heading text-gray-800 w-full pl-3 font-semibold my-auto"></div>
                <div class="buttons ml-auto flex text-gray-600 mr-1">

                    <svg action="prev" class="w-7 border-2 rounded-l-lg p-1 cursor-pointer border-r-0 hover:bg-gray-200"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path action="prev" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M10 19l-7-7m0 0l7-7m-7 7h18" />
                    </svg>
       
                    <svg action="next" class="w-7 border-2 rounded-r-lg p-1 cursor-pointer hover:bg-gray-200"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path action="next" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M14 5l7 7m0 0l-7 7m7-7H3" />
                    </svg>
                </div>
            </div>
 
            <div class="content-area w-full h-96 overflow-hidden rounded-b-xl">
                <div class="platform shadow-xl h-full flex">

                    {% for destacado in destacados %}
                        {% if destacado.contenido.categoria.tipo_categoria in categorias_restringidas and not user.is_authenticated %}
                            <div class="each-frame border-box flex-none h-full" title="{{ destacado.contenido.titulo }}">
                                <a href="#" onClick="mostrarModalLogin(event, '{{destacado.contenido.slug}}')">
                        {% elif destacado.contenido.categoria.tipo_categoria == 'PA' and destacado.contenido.categoria.id not in categorias_suscritas_ids %}
                            <div class="each-frame border-box flex-none h-full" title="{{ destacado.contenido.titulo }}">
                                <a href="#" onClick="mostrarModalCarrusel(event,'{{destacado.contenido.categoria.id}}', '{{ destacado.contenido.categoria.nombre_categoria }}', '{{destacado.contenido.categoria.descripcion}}', '{{destacado.contenido.categoria.precio}}')">
                        {% else %}
                            <div class="each-frame border-box flex-none h-full" title="{{ destacado.contenido.titulo }}">
                                <a href="{% url 'detalle_contenido' destacado.contenido.slug %}" class="block w-full h-full hover:bg-gray-100 rounded-xl duration-300">
                        {% endif %}  
                
                                <div class="main flex w-full p-8 cursor-pointer">
                                    <!-- Imagen -->
                                    <div class="sub w-2/5 my-auto">
                                        <img class="w-full h-48 object-cover rounded-lg" src="{% if destacado.contenido.imagen %}{{ destacado.contenido.imagen.url }}{% else %}/static/default.jpg{% endif %}" alt="{{ destacado.contenido.titulo }}">
                                    </div>
                                    <!-- Información -->
                                    <div class="sub w-3/5 my-auto px-4">
                                        <!-- Autor y categoría -->
                                        <div class="text-sm mb-4 flex items-center space-x-4">
                                            <img class="w-8 h-8 rounded-full" src="{% if destacado.contenido.autor.profile.image %}{{ destacado.contenido.autor.profile.image.url }}{% else %}/static/default.png{% endif %}" alt="{{ destacado.contenido.autor.username }}">
                                            <div>
                                                {% if destacado.contenido.autor is null %}
                                                <span class="font-semibold">[eliminado]</span>
                                                {% else %}
                                                <span class="font-semibold">{{ destacado.contenido.autor.username }}</span>
                                                {% endif %}
                                                <br>
                                                <span class="text-gray-600">{{ destacado.contenido.categoria.nombre_categoria }}</span>
                                            </div>
                                        </div>
                                        <!-- Título -->
                                        <div class="head text-gray-900 font-bold text-lg mb-1 truncate break-words">{{ destacado.contenido.titulo }}</div>
                                        <!-- Resumen -->
                                        <div class="long-text text-lg text-gray-700">{{ destacado.contenido.resumen|truncatewords:20 }}</div>
                                  
                                        <div class="text-sm mt-4 text-gray-600">{{ destacado.contenido.fecha_creacion|date:"d M Y" }}</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
</div>

<!-- Sección de últimos posts -->
<section id="latest-posts" class="mt-12 p-6">
    <h2 class="text-3xl font-bold text-gray-800 text-center mb-8">Últimos Posts</h2>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        {% for contenido in contenidos %}
            {% include "includes/contenido.html" %}
        {% empty %}
            <p class="text-gray-600">No hay posts disponibles.</p>
        {% endfor %}
    </div>
</section>

<style>
  .platform {
    position: relative;
    transition: right 0.3s;
  }

  .gallery {
    border-radius: 1rem;
  }

  .platform .each-frame {
    border-radius: 1rem;
  }

  .body {
    background-color: white !important;
  }

  @keyframes word {
    0% {
        transform: translateY(100%);
    }
    15% {
        transform: translateY(-10%);
        animation-timing-function: ease-out;
    }

    20% {
        transform: translateY(0);
    }

    40%,
    100% {
        transform: translateY(-110%);
    }
    }

    .animate-word {
    animation: word 7s infinite;
    }
    .animate-word-delay-1 {
    animation: word 7s infinite;
    animation-delay: -1.4s;
    }
    .animate-word-delay-2 {
    animation: word 7s infinite;
    animation-delay: -2.8s;
    }
    .animate-word-delay-3 {
    animation: word 7s infinite;
    animation-delay: -4.2s;
    }
    .animate-word-delay-4 {
    animation: word 7s infinite;
    animation-delay: -5.6s;
    }
</style>

<script defer src="{% static 'js/carrusel.js' %}"></script>

<script>

    function mostrarModalCarrusel(event, categoriaId, categoriaNombre, categoriaDescripcion, categoriaPrecio) {
        //console.log('Mostrando modal de pago en el carrrusel:', categoriaId);
        event.preventDefault();  
        event.stopPropagation();  

        // Actualizar el contenido del modal
        document.getElementById('modalCategoriaNombre').textContent = categoriaNombre;
        document.getElementById('modalCategoriaDescripcion').textContent = categoriaDescripcion;
        document.getElementById('modalCategoriaPrecio').textContent = categoriaPrecio;
        document.getElementById('checkout-button').setAttribute('onclick', `procesarPago('${categoriaId}')`);

        const modal = document.getElementById('modalPago');
        modal.classList.remove('hidden');
    }

    
    function mostrarModalLogin(event, slugPar) {
        event.preventDefault();  
        event.stopPropagation();  
        const modal = document.getElementById('modalLogin');
        const slug = slugPar;

        nextUrl = window.location.origin + '/detalle-contenido/' + slug;

        modal.setAttribute('data-next-url', nextUrl);
        modal.classList.remove('hidden');
    }

</script>


{% include 'includes/pago_categoria.html' %}
{% include 'includes/iniciar_sesion.html' %}
{% endblock content %}