# Web Framework and Extensions
Django==4.2.15
django-allauth==64.1.0
django-cloudinary-storage==0.3.0
cloudinary==1.41.0
django-ckeditor==6.5.0

# Database and ORM
psycopg2-binary==2.9.9
sqlparse==0.5.1

# HTTP and Networking
requests==2.32.3
urllib3==2.2.3
certifi==2024.8.30
idna==3.10
charset-normalizer==3.4.0

# Security
cryptography==43.0.1
cffi==1.17.1

# Time Zones
pytz==2024.2

# Generación de reportes y procesamiento de archivos:
openpyxl==3.1.5  # Manipulación de archivos Excel.
et_xmlfile==2.0.0  # Soporte XML para OpenPyXL.

stripe==10.11.0
sorl-thumbnail==12.10.0
pillow==10.4.0
python-decouple==3.8
whitenoise==6.7.0
gunicorn==23.0.0