asgiref==3.8.1
Django==4.2.15
django-allauth==64.1.0
django-haystack==3.3.0
django-sphinxdoc==2.0.0
gunicorn==23.0.0
exceptiongroup==1.2.2
iniconfig==2.0.0
packaging==24.1
pillow==10.4.0
pluggy==1.5.0
psycopg2-binary==2.9.9
pytest==8.3.2
pytest-django==4.8.0
python-decouple==3.8
python-dotenv==1.0.1
sorl-thumbnail==12.10.0
sqlparse==0.5.1
whitenoise==6.7.0
Sphinx==7.4.7
sphinx-rtd-theme==2.0.0
tomli==2.0.1
typing_extensions==4.12.2
