{% extends "base.html" %}

{% block title %}
    Contenidos Reportados | Stark
{% endblock title %}

{% block content %}
    <div class="mx-1 mb-4">
        {% if messages %}
            <div id="mensaje_box" class="space-y-3">
                {% for message in messages %}
                    <div class="p-4 rounded-md {% if message.tags == 'error' %}bg-red-100 text-red-800{% else %}bg-green-100 text-green-800{% endif %}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    {% if user.is_authenticated %}
    <div class="p-6 mt-6">
        <h2 class="text-3xl font-bold text-gray-800 mb-6">Contenidos Reportados</h2>
        
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
            
            {% for contenido_reportado in contenidos %}

            <div class="w-full bg-white shadow-md rounded-xl duration-500 hover:scale-105 hover:shadow-xl overflow-hidden flex flex-col md:flex-row relative"> 
                
                <a href="{% url 'detalle_contenido' contenido_reportado.contenido.slug %}?is_staff=true" class="h-32 md:h-48 lg:h-auto lg:w-48 flex-none bg-cover bg-center" 
                style="background-image: url('{% if contenido_reportado.contenido.imagen %}{{ contenido_reportado.contenido.imagen.url }}{% else %}/static/default.png{% endif %}'); object-fit: cover;">
                </a>

                <div class="absolute top-2 right-2 bg-gray-100 text-gray-600 text-xs px-3 py-1 rounded-full">
                    {{ contenido_reportado.contenido.categoria.nombre_categoria }}
                </div>

                <div class="px-4 py-3 w-full flex flex-col justify-between leading-normal overflow-hidden">
                    <div class="flex items-center justify-between mb-2">
                        <div class="text-sm">
                            <p class="text-gray-900 leading-none">{{ contenido_reportado.contenido.autor.get_full_name }}</p>
                            <p class="text-gray-600 text-xs">{{ contenido_reportado.contenido.fecha_creacion|date:"d M Y" }}</p>
                        </div>
                    </div>

                    <div class="mb-4">
                        <div class="text-gray-900 font-bold text-lg mb-1 truncate">{{ contenido_reportado.contenido.titulo }}</div>
                        <p class="text-gray-700 text-xs overflow-hidden" 
                            style="display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis; font-size: 0.85rem;">
                            {{ contenido_reportado.contenido.resumen|truncatewords:30 }}
                        </p>

                        {% if contenido_reportado.motivo %}
                            <div class="mt-2">
                                <button class="text-xs text-red-600 hover:text-red-800" onclick="toggleRejectionMessage({{ contenido_reportado.id }})">
                                    Ver motivo de reporte
                                </button>
                                <div id="rejection-message-{{ contenido_reportado.id }}" class="text-xs hidden mt-2 p-2 bg-red-100 border-l-4 border-red-500 text-red-700">
                                    {{ contenido_reportado.motivo|truncatewords:20 }}
                                </div>
                            </div>
                        {% endif %}
                    </div>

                </div>

            </div>
            {% empty %}
            <p class="text-gray-600">No existen contenidos reportados</p>
            {% endfor %}
        </div>

    </div>
    {% endif %}

    <script>
        function toggleRejectionMessage(id) {
            var message = document.getElementById('rejection-message-' + id);
            if (message.classList.contains('hidden')) {
              message.classList.remove('hidden');
            } else {
              message.classList.add('hidden');
            }
        }
    </script>
{% endblock content %}
