{% extends "base.html" %}

{% block title %}
Crear Contenido | Stark
{% endblock %}

{% block content %}
<!-- Mensajes de avisos/exitos -->
<div class="mx-1 mb-4">
  {% if messages %}
  <div class="space-y-3">
    {% for message in messages %}
    <div
      class="p-4 rounded-md {% if message.tags == 'error' %}bg-red-100 text-red-800{% else %}bg-green-100 text-green-800{% endif %}">
      {{ message }}
    </div>
    {% endfor %}
  </div>
  {% endif %}
</div>

{% if user.is_authenticated %}
<div class="flex flex-col lg:flex-row mt-10">

  <form enctype="multipart/form-data" method="POST" id="version-form">
      {% csrf_token %}
      <div class="w-full">
          {{ form.media }}
          {{ form.as_p }}
      </div>
      <button type="submit">Guardar Borrador</button>
  </form>

  <!-- GET form para seleccionar la version -->
  <form method="GET" id="version-select-form">
    <label for="version-select">Seleccionar versión anterior:</label>
    <select name="version_id" id="version-select" onchange="this.form.submit()">
      {% if versiones %}
          <option value="{{ versiones.last.id }}">Última versión: {{ versiones.last.fecha_version|date:"d M Y H:i" }}</option>
      {% else %}
          <option value="">-- Crear nueva versión --</option>
      {% endif %}
        {% for version in versiones %}
            <option value="{{ version.id }}" {% if request.GET.version_id == version.id|stringformat:"s" %}selected{% endif %}>
                Versión de {{ version.fecha_version|date:"d M Y H:i" }}
            </option>
        {% endfor %}
    </select>
</form> 

</div>

<script>
    document.getElementById('version-select').addEventListener('change', function() {
        document.getElementById('version-select-form').submit();  
    });
</script>

{% endif %}

{% endblock content %}