{% extends "base.html" %}

{% block title %}
    Destacados | Stark
{% endblock title %}

{% block content %}
    <!-- Mensajes de avisos/exitos -->
    <div class="mx-1 mb-4">
        {% if messages %}
            <div id="mensaje_box" class="space-y-3">
                {% for message in messages %}
                    <div class="p-4 rounded-md {% if message.tags == 'error' %}bg-red-100 text-red-800{% else %}bg-green-100 text-green-800{% endif %}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    {% if user.is_authenticated %}
    <div class="p-6 mt-6">

        <h2 class="text-3xl font-bold text-gray-800 mb-6">Contenidos Destacados</h2>

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        
            {% for destacado in contenidos %}
                
            <!-- contenido -->
            <div class="w-full bg-white shadow-md rounded-xl duration-500 hover:scale-105 hover:shadow-xl overflow-hidden flex flex-col md:flex-row relative">                     
                    <!-- imagen -->
                <a href="{% url 'detalle_contenido' destacado.contenido.slug %}" class="h-32 md:h-48 lg:h-auto lg:w-48 flex-none bg-cover bg-center" 
                style="background-image: url('{% if destacado.contenido.imagen %}{{ destacado.contenido.imagen.url }}{% else %}/static/default.jpg{% endif %}'); object-fit: cover;">
                </a>

                    <!-- Categoría en la parte superior derecha -->
                <div class="absolute top-2 right-2 bg-gray-100 text-gray-600 text-xs px-3 py-1 rounded-full">
                    {{ destacado.contenido.categoria.nombre_categoria }}
                </div>

                <!-- Información -->
                <div class="px-4 py-3 w-full flex flex-col justify-between leading-normal overflow-hidden">
                    
                    <!-- Autor y fecha -->
                    <div class="flex items-center justify-between mb-2">
                        <div class="text-sm">
                            {% if contenido.autor is null %}
                            <p class="text-gray-900 leading-none">[eliminado]</p>
                            {% else %}
                            <p class="text-gray-900 leading-none">{{ destacado.contenido.autor.username }}</p>
                            {% endif %}
                            <p class="text-gray-600 text-xs">{{ destacado.contenido.fecha_creacion|date:"d M Y" }}</p>
                        </div>
                    </div>

                    <!-- Título y resumen del contenido -->
                    <div class="mb-4">
                        <div class="text-gray-900 font-bold text-lg mb-1 truncate">{{ destacado.contenido.titulo }}</div>
                        
                        <!-- Estilo actualizado para mostrar varias líneas -->
                        <p class="text-gray-700 text-xs overflow-hidden" 
                            style="display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis; font-size: 0.85rem;">
                            {{ destacado.contenido.resumen|truncatewords:30 }}
                        </p>
                
                    </div>

                    <!-- Botones de acción alineados -->
                    <div class="flex flex-col justify-between space-y-2">
                        <!-- Botón Activar -->
                        <form action="{% url 'contenido_seleccionado' destacado.contenido.slug %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="bg-pink-800 hover:bg-pink-700 text-white text-xs py-2 px-4 rounded-md text-center w-full">
                                Eliminar de Destacados
                            </button>
                        </form>
                        
                    </div>
                    
                </div>

            </div>
            {% empty %}
            <p class="text-gray-600">No existen contenidos destacados.</p>
            {% endfor %}
        
        </div>

    </div>
    {% endif %}
{% endblock content %}