{% extends "base.html" %}

{% block title %}
  Editar Contenido
{% endblock  %}

{% block content %}
    <!-- Mensajes de avisos/exitos -->
    <div class="mx-1 mb-4">
    {% if messages %}
        <div class="space-y-3">
            {% for message in messages %}
                <div class="p-4 rounded-md {% if message.tags == 'error' %}bg-red-100 text-red-800{% else %}bg-green-100 text-green-800{% endif %}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
  </div>

    {% if user.is_authenticated %}
        <div class="flex items-center justify-center mt-10">
          <form enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p}}
            <button type="submit">Guardar Cambios</button>
          </form>
        </div>
    {% endif %}

{% endblock content %}