{% extends "base.html" %}
{%load static%}

{% block title %}
Estadisticas | {{ contenido.titulo }} 
{% endblock %}

{% block content %}
    <!-- Mensajes de avisos/exitos -->
    <div class="mx-1 mb-4">
        {% if messages %}
            <div id="mensaje_box" class="space-y-3">
                {% for message in messages %}
                    <div class="p-4 rounded-md {% if message.tags == 'error' %}bg-red-100 text-red-800{% else %}bg-green-100 text-green-800{% endif %}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    {% if user.is_authenticated %}
    <div class="container mx-auto px-4 py-8">
        <h1 class="text-2xl font-semibold mb-4">Estadísticas de {{ contenido.titulo }}</h1>
        <div class="flex flex-col md:flex-row gap-8">
            <!-- Lado izquierdo: Vista previa del post -->
            <div class="w-full md:w-1/3 bg-white shadow-md rounded-lg p-6">
                <!-- Imagen del post -->
                <img class="rounded-md w-full h-48 object-cover mb-4" src="{{ contenido.imagen.url }}" alt="{{ contenido.titulo }}">
    
                <!-- Detalles del post -->
                <p class="text-sm text-gray-500 mb-2">Autor: {{ contenido.autor }}</p>
                <p class="text-sm text-gray-500 mb-4">Publicado el: {{ contenido.fecha_publicacion |date:"d M Y" }}</p>
                
                <h2 class="text-lg font-bold mb-2">{{ contenido.titulo }}</h2>
                <p class="text-sm text-gray-600">{{ contenido.resumen }}</p>
            </div>
    
            <!-- Lado derecho: Estadísticas -->
            <div class="w-full md:w-2/3 bg-white shadow-md rounded-lg p-6">
                <h2 class="text-xl font-semibold mb-4">Estadísticas del post</h2>
                <!-- Estadísticas del post -->
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mb-8">
                    <!-- Card: Likes -->
                    <div class="bg-gray-50 shadow-lg border border-gray-300 rounded-lg p-6 text-center">
                        <h2 class="text-pink-600 font-semibold text-sm">Likes</h2>
                        <p class="text-3xl font-bold text-black">{{ contenido.cantidad_likes }}</p>
                        <span class="text-gray-500 text-xs mt-1 block">Número de likes del contenido</span>
                    </div>

                    <!-- Card: Dislikes -->
                    <div class="bg-gray-50 shadow-lg border border-gray-300 rounded-lg p-6 text-center">
                        <h2 class="text-pink-600 font-semibold text-sm">Dislikes</h2>
                        <p class="text-3xl font-bold text-black">{{ contenido.cantidad_dislikes }}</p>
                        <span class="text-gray-500 text-xs mt-1 block">Número de dislikes del contenido</span>
                    </div>

                    <!-- Card: Valoración -->
                    <div class="bg-gray-50 shadow-lg border border-gray-300 rounded-lg p-6 text-center">
                        <h2 class="text-pink-600 font-semibold text-sm">Valoración</h2>
                        <p class="text-3xl font-bold text-black">{{ contenido.puntuacion|default:"0.0" }}</p>
                        <span class="text-gray-500 text-xs mt-1 block">Promedio de valoración</span>
                    </div>

                    <!-- Card: Visualizaciones -->
                    <div class="bg-gray-50 shadow-lg border border-gray-300 rounded-lg p-6 text-center">
                        <h2 class="text-pink-600 font-semibold text-sm">Visualizaciones</h2>
                        <p class="text-3xl font-bold text-black">{{ contenido.cantidad_vistas }}</p>
                        <span class="text-gray-500 text-xs mt-1 block">Número de visualizaciones</span>
                    </div>

                    <!-- Card: Comentarios -->
                    <div class="bg-gray-50 shadow-lg border border-gray-300 rounded-lg p-6 text-center">
                        <h2 class="text-pink-600 font-semibold text-sm">Comentarios</h2>
                        <p class="text-3xl font-bold text-black">{{ comment_count }}</p>
                        <span class="text-gray-500 text-xs mt-1 block">Número de comentarios</span>
                    </div>

                    <!-- Card: Compartidos -->
                    <div class="bg-gray-50 shadow-lg border border-gray-300 rounded-lg p-6 text-center">
                        <h2 class="text-pink-600 font-semibold text-sm">Compartidos</h2>
                        <p class="text-3xl font-bold text-black">{{ contenido.cantidad_compartidos }}</p>
                        <span class="text-gray-500 text-xs mt-1 block">Número de veces compartido</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endif %}
   
    


{% endblock content %}