{% extends "base.html" %}
{% load static %}

{% block title %}
    Reportes y Estadísticas | Stark
{% endblock title %}

{% block script %}
  <script src="{% static 'apexcharts/apexcharts.js' %}"></script>
{% endblock script %}

{% block content %}

<div class="container mx-auto px-4 py-6 mt-2">
    <h2 class="text-3xl font-bold text-gray-800 mb-6">Reportes y Estadísticas</h2>

    <!--Contenedor para los gráficos 1,2,3-->
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-4">
      {% include "stats/reporte1.html" %}
    
      {% include "stats/reporte2.html" %}
    
      {% include "stats/reporte3.html" %}
    </div>

    <!--Contenedor gráficos 5 y 6-->
    <div class="flex gap-4 mt-4">
      {% include "stats/reporte4.html" %}

      {% include "stats/reporte5.html" %}      
    </div>
    
</div>

<script>

    document.querySelectorAll('[data-dropdown-toggle]').forEach((button) => {
      const targetId = button.getAttribute('data-dropdown-toggle');
      const dropdownElement = document.getElementById(targetId);
    
      if (dropdownElement) {
        new Dropdown(dropdownElement, {
          triggerType: 'click',
          placement: button.getAttribute('data-dropdown-placement') || 'bottom',
        });
      }
    });

</script>

{% endblock %}
