{% extends "base.html" %}

{% load static %}

{% block title %}
    Tablero Kanban | Stark
{% endblock title %}

{% block content %}

    <!-- Mensajes de avisos/exitos -->
    <div id="mensaje_box" class="mx-1 mb-1">
        {% if messages %}
            <div class="space-y-4">
                {% for message in messages %}
                    <div class="p-4 rounded-lg {% if message.tags == 'error' %}bg-red-100 text-red-800{% else %}bg-green-100 text-green-800{% endif %} shadow-md">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <div class="container mx-auto p-6 overflow-x-auto">
        <h1 class="text-3xl font-extrabold text-gray-800 mt-2 mb-8 text-center">Tablero Kanban</h1>
        <div class="grid grid-flow-col auto-cols-max gap-6" style="min-width: 1200px;">
            
            <!-- Columna para Borrador -->
            <div class="bg-white p-5 rounded-lg shadow-lg kanban-column" data-status="Borrador">
                <h2 class="text-xl font-bold text-center text-gray-700">Borrador</h2>
                <div class="kanban-items min-h-[300px] space-y-4 p-2 border border-gray-300 rounded-lg">
                    {% for post in borrador %}
                        {% if perms.permissions.modificar_tablero_kanban or post.autor == request.user %} 
                            <a href="{% url 'detalle_contenido' post.slug %}">
                                <div class="bg-gray-50 px-4 pb-4 rounded-lg shadow-md flex flex-col space-y-2 contenido-item mb-2 transition-transform transform hover:scale-110" draggable="true" data-id="{{ post.id }}" data-autor-id="{{ post.autor.id }}" data-moderada="{{ post.categoria.moderada|yesno:'true,false' }}">
                                    <!-- Título del contenido -->
                                    <div class="mt-2">
                                        <h3 class="font-bold text-gray-800 break-words truncate" title="{{ post.titulo }}">{{ post.titulo|truncatechars:100 }}</h3>
                                    </div>
                                    
                                    <!-- Contenedor superior: Imagen + Información del autor y fecha -->
                                    <div class="flex items-center space-x-4">
                                        <!-- Imagen del contenido -->
                                        <div class="flex-shrink-0 w-12 h-12">
                                            {% if post.imagen %}
                                                <img src="{{ post.imagen.url }}" alt="{{ post.titulo }}" class="w-full h-full object-cover rounded-lg">
                                            {% else %}
                                                <img src="https://via.placeholder.com/80x80" alt="No image" class="w-full h-full object-cover rounded-lg">
                                            {% endif %}
                                        </div>
                                        
                                        <!-- Información del autor y fecha -->
                                        <div class="flex-1 overflow-hidden">
                                            {% if post.autor is null %}
                                            <p class="text-xs text-gray-500">Por <strong>[eliminado]</strong></p>
                                            {% else %}
                                            <p class="text-xs text-gray-500">Por <strong>{{ post.autor }}</strong></p>
                                            {% endif %}
                                            <p class="text-xs text-gray-500 ">{{ post.fecha_creacion|date:"d M Y" }}</p>
                                            {% if post.categoria.moderada == False %}
                                                <p class="text-xs text-pink-500 ">No Moderada</p>
                                            {% endif %}
                                            {% if post.fecha_publicacion > fecha_actual %}
                                                <p class="text-xs text-pink-500 ">A publicar el: <strong>{{ post.fecha_publicacion|date:"d M Y" }}</strong></p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

            <!-- Repetir la misma estructura para las demás columnas -->
            <!-- Columna para Edición -->
            <div class="bg-white p-5 rounded-lg shadow-lg kanban-column" data-status="Edicion">
                <h2 class="text-xl font-bold text-center text-gray-700">Edición</h2>
                <div class="kanban-items min-h-[300px] space-y-4 p-2 border border-gray-300 rounded-lg">
                    {% for post in edicion %}
                        {% if perms.permissions.editar_contenido or perms.permissions.modificar_tablero_kanban or post.autor == request.user %} 
                            {% if perms.permissions.editar_contenido %}
                                {% if post.usuario_editor == request.user or post.usuario_editor == None %}
                                    <a href="{% url 'editar_contenido' post.id %}">
                                    {% else %}
                                    <a href="{% url 'detalle_contenido' post.slug %}">
                                    {% endif %}
                            {% elif post.autor == request.user or perms.permissions.modificar_tablero_kanban %}
                            <a href="{% url 'detalle_contenido' post.slug %}">
                            {% endif %}

                                <div class="bg-gray-50 px-4 pb-4 rounded-lg shadow-md flex flex-col space-y-2 contenido-item mb-2 transition-transform transform hover:scale-110" draggable="true" data-id="{{ post.id }}" data-autor-id="{{ post.autor.id }}" data-moderada="{{ post.categoria.moderada|yesno:'true,false' }}">
                                    <!-- Título del contenido -->
                                    <div class="mt-2">
                                        <h3 class="font-bold text-gray-800 break-words truncate" title="{{ post.titulo }}">{{ post.titulo|truncatechars:100 }}</h3>
                                    </div>
                                    
                                    <!-- Contenedor superior: Imagen + Información del autor y fecha -->
                                    <div class="flex items-center space-x-4">
                                        <!-- Imagen del contenido -->
                                        <div class="flex-shrink-0 w-12 h-12">
                                            {% if post.imagen %}
                                                <img src="{{ post.imagen.url }}" alt="{{ post.titulo }}" class="w-full h-full object-cover rounded-lg">
                                            {% else %}
                                                <img src="https://via.placeholder.com/80x80" alt="No image" class="w-full h-full object-cover rounded-lg">
                                            {% endif %}
                                        </div>
                                        
                                        <!-- Información del autor y fecha -->
                                        <div class="flex-1 overflow-hidden">
                                            {% if post.autor is null %}
                                            <p class="text-xs text-gray-500">Por <strong>[eliminado]</strong></p>
                                            {% else %}
                                            <p class="text-xs text-gray-500">Por <strong>{{ post.autor }}</strong></p>
                                            {% endif %}
                                            <p class="text-xs text-gray-500 ">{{ post.fecha_creacion|date:"d M Y" }}</p>
                                            {% if post.usuario_editor == request.user %}
                                                <p class="text-xs text-gray-500 "> <strong> Editando </strong></p>
                                            {% elif post.usuario_editor != None %}
                                                <p class="text-xs text-gray-500 "> Editando: <strong>{{ post.usuario_editor }}</strong></p>
                                            {% endif %}
                                            {% if post.fecha_publicacion > fecha_actual %}
                                                <p class="text-xs text-gray-500 "> A publicar el: <strong>{{ post.fecha_publicacion|date:"d M Y" }}</strong></p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

            <!-- Columna para Publicación -->
            <div class="bg-white p-5 rounded-lg shadow-lg kanban-column" data-status="Publicacion">
                <h2 class="text-xl font-bold text-center text-gray-700">Publicación</h2>
                <div class="kanban-items min-h-[300px] space-y-4 p-2 border border-gray-300 rounded-lg">
                    {% for post in publicacion %}
                        {% if perms.permissions.modificar_tablero_kanban or post.autor == request.user %}
                            <a href="{% url 'detalle_contenido' post.slug %}">
                                <div class="bg-gray-50 px-4 pb-4 rounded-lg shadow-md flex flex-col space-y-2 contenido-item mb-2 transition-transform transform hover:scale-110" draggable="true" data-id="{{ post.id }}" data-autor-id="{{ post.autor.id }}" data-moderada="{{ post.categoria.moderada|yesno:'true,false' }}">
                                    <!-- Título del contenido -->
                                    <div class="mt-2">
                                        <h3 class="font-bold  text-gray-800 break-words truncate" title="{{ post.titulo }}">{{ post.titulo|truncatechars:100 }}</h3>
                                    </div>
                                    
                                    <!-- Contenedor superior: Imagen + Información del autor y fecha -->
                                    <div class="flex items-center space-x-4">
                                        <!-- Imagen del contenido -->
                                        <div class="flex-shrink-0 w-12 h-12">
                                            {% if post.imagen %}
                                                <img src="{{ post.imagen.url }}" alt="{{ post.titulo }}" class="w-full h-full object-cover rounded-lg">
                                            {% else %}
                                                <img src="https://via.placeholder.com/80x80" alt="No image" class="w-full h-full object-cover rounded-lg">
                                            {% endif %}
                                        </div>
                                        
                                        <!-- Información del autor y fecha -->
                                        <div class="flex-1 overflow-hidden">
                                            {% if post.autor is null %}
                                            <p class="text-xs text-gray-500">Por <strong>[eliminado]</strong></p>
                                            {% else %}
                                            <p class="text-xs text-gray-500">Por <strong>{{ post.autor }}</strong></p>
                                            {% endif %}
                                            <p class="text-xs text-gray-500 ">{{ post.fecha_creacion|date:"d M Y" }}</p>
                                            {% if post.usuario_editor != None %}
                                                <p class="text-xs text-gray-500 ">Editado por: <strong>{{ post.usuario_editor }}</strong></p>
                                            {% endif %}
                                            {% if post.fecha_publicacion > fecha_actual %}
                                                <p class="text-xs text-gray-500 ">A publicar el: <strong class="text-pink-500">{{ post.fecha_publicacion|date:"d M Y" }}</strong></p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

            <!-- Columna para Publicado -->
            <div class="bg-white p-5 rounded-lg shadow-lg kanban-column" data-status="Publicado">
                <h2 class="text-xl font-bold text-center text-gray-700">Publicado</h2>
                <div class="kanban-items min-h-[300px] space-y-4 p-2 border border-gray-300 rounded-lg">
                    {% for post in publicado %}
                        {% if perms.permissions.modificar_tablero_kanban or post.autor == request.user %}
                            <a href="{% url 'detalle_contenido' post.slug %}">
                                <div class="bg-gray-50 px-4 pb-4 rounded-lg shadow-md flex flex-col space-y-2 contenido-item mb-2 transition-transform transform hover:scale-110" draggable="true" data-id="{{ post.id }}" data-autor-id="{{ post.autor.id }}" data-moderada="{{ post.categoria.moderada|yesno:'true,false' }}">
                                    <!-- Título del contenido -->
                                    <div class="mt-2">
                                        <h3 class="font-bold text-gray-800 break-words truncate" title="{{ post.titulo }}">{{ post.titulo|truncatechars:100 }}</h3>
                                    </div>
                                    
                                    <!-- Contenedor superior: Imagen + Información del autor y fecha -->
                                    <div class="flex items-center space-x-4">
                                        <!-- Imagen del contenido -->
                                        <div class="flex-shrink-0 w-12 h-12">
                                            {% if post.imagen %}
                                                <img src="{{ post.imagen.url }}" alt="{{ post.titulo }}" class="w-full h-full object-cover rounded-lg">
                                            {% else %}
                                                <img src="https://via.placeholder.com/80x80" alt="No image" class="w-full h-full object-cover rounded-lg">
                                            {% endif %}
                                        </div>
                                        
                                        <!-- Información del autor y fecha -->
                                        <div class="flex-1 overflow-hidden">
                                            {% if post.autor is null %}
                                            <p class="text-xs text-gray-500">Por <strong>[eliminado]</strong></p>
                                            {% else %}
                                            <p class="text-xs text-gray-500">Por <strong>{{ post.autor }}</strong></p>
                                            {% endif %}
                                            <p class="text-xs text-gray-500 ">{{ post.fecha_creacion|date:"d M Y" }}</p>
                                            {% if post.fecha_publicacion > fecha_actual %}
                                                <p class="text-xs text-gray-500 ">A publicar el: <strong class="text-pink-500">{{ post.fecha_publicacion|date:"d M Y" }}</strong></p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

            <!-- Columna para Inactivo -->
            <div class="bg-white p-5 rounded-lg shadow-lg kanban-column" data-status="Inactivo">
                <h2 class="text-xl font-bold text-center text-gray-700">Inactivo</h2>
                <div class="kanban-items min-h-[300px] space-y-4 p-2 border border-gray-300 rounded-lg">
                    {% for post in inactivo %}
                        {% if perms.permissions.modificar_tablero_kanban or post.autor == request.user %}
                            <a href="{% url 'detalle_contenido' post.slug %}">
                                <div class="bg-gray-50 px-4 pb-4 rounded-lg shadow-md flex flex-col space-y-2 contenido-item mb-2 transition-transform transform hover:scale-110" draggable="true" data-id="{{ post.id }}" data-autor-id="{{ post.autor.id }}" data-moderada="{{ post.categoria.moderada|yesno:'true,false' }}">
                                    <!-- Título del contenido -->
                                    <div class="mt-2">
                                        <h3 class="font-bold text-gray-800 break-words truncate" title="{{ post.titulo }}">{{ post.titulo|truncatechars:100 }}</h3>
                                    </div>
                                    
                                    <!-- Contenedor superior: Imagen + Información del autor y fecha -->
                                    <div class="flex items-center space-x-4">
                                        <!-- Imagen del contenido -->
                                        <div class="flex-shrink-0 w-12 h-12">
                                            {% if post.imagen %}
                                                <img src="{{ post.imagen.url }}" alt="{{ post.titulo }}" class="w-full h-full object-cover rounded-lg">
                                            {% else %}
                                                <img src="https://via.placeholder.com/80x80" alt="No image" class="w-full h-full object-cover rounded-lg">
                                            {% endif %}
                                        </div>
                                        
                                        <!-- Información del autor y fecha -->
                                        <div class="flex-1 overflow-hidden">
                                            {% if post.autor is null %}
                                            <p class="text-xs text-gray-500">Por <strong>[eliminado]</strong></p>
                                            {% else %}
                                            <p class="text-xs text-gray-500">Por <strong>{{ post.autor }}</strong></p>
                                            {% endif %}
                                            <p class="text-xs text-gray-500 ">{{ post.fecha_creacion|date:"d M Y" }}</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        
        <div class="mt-6 flex justify-end space-x-4">
            <button id="revertirCambios" class="bg-gray-400 hover:bg-gray-500 active:bg-gray-600 hover:scale-105 text-white py-2 px-4 rounded-lg transition ease-in-out duration-300">
                Revertir Cambios
            </button>
            <button id="guardarCambios" class="bg-pink-800 hover:bg-pink-700 active:bg-pink-900 hover:scale-105 text-white py-2 px-4 rounded-lg transition ease-in-out duration-300">
                Guardar Cambios
            </button>
            <button id="mostrarArchivados" class="bg-pink-800 hover:bg-pink-700 active:bg-pink-900 hover:scale-105 text-white py-2 px-4 rounded-lg transition ease-in-out duration-300">
                Ver Archivados
            </button>
        </div>

        <!-- Modal para los contenidos archivados -->
        <div id="archivadoModal" class="hidden fixed inset-0 bg-gray-500 bg-opacity-75 flex items-center justify-center z-50">
            <div class="bg-white p-6 rounded-lg shadow-lg w-96 max-h-80 overflow-y-auto relative">
                <h3 class="text-lg font-bold mb-4">Contenidos Archivados</h3>
                <div class="space-y-4">
                    {% for post in archivado %}
                        <div class="bg-gray-50 px-4 pb-4 rounded-lg shadow-md flex flex-col space-y-2 contenido-item mb-2">
                            <!-- Título del contenido -->
                            <div class="mt-2">
                                <h3 class="font-bold text-gray-800 break-words truncate" title="{{ post.titulo }}">{{ post.titulo|truncatechars:100 }}</h3>
                            </div>
                            
                            <!-- Contenedor superior: Imagen + Información del autor y fecha -->
                            <div class="flex items-center space-x-4">
                                <!-- Imagen del contenido -->
                                <div class="flex-shrink-0 w-12 h-12">
                                    {% if post.imagen %}
                                        <img src="{{ post.imagen.url }}" alt="{{ post.titulo }}" class="w-full h-full object-cover rounded-lg">
                                    {% else %}
                                        <img src="https://via.placeholder.com/80x80" alt="No image" class="w-full h-full object-cover rounded-lg">
                                    {% endif %}
                                </div>
                                
                                <!-- Información del autor y fecha -->
                                <div class="flex-1 overflow-hidden">
                                    {% if post.autor is null %}
                                    <p class="text-xs text-gray-500">Por <strong>[eliminado]</strong></p>
                                    {% else %}
                                    <p class="text-xs text-gray-500">Por <strong>{{ post.autor }}</strong></p>
                                    {% endif %}
                                    <p class="text-xs text-gray-500 ">{{ post.fecha_creacion|date:"d M Y" }}</p>
                                    <p class="text-xs text-gray-500 ">Vigencia hasta: <strong>{{ post.vigencia|date:"d M Y" }}</strong></p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="flex justify-end mt-4">
                    <button id="cerrarArchivado" class="bg-gray-500 text-white px-4 py-2 rounded">Cerrar</button>
                </div>
            </div>
        </div>

        <!-- Modal para el rechazo -->
        <div id="rejectModal" class="hidden fixed inset-0 bg-gray-500 bg-opacity-75 flex items-center justify-center z-50">
            <div class="bg-white p-6 rounded-lg shadow-lg w-96">
                <h3 class="text-lg font-bold mb-4">Motivo de Rechazo</h3>
                <p id="postName"></p> <!-- Aquí se mostrará el nombre del post -->
                <form id="rejectForm" method="post">
                    <textarea id="mensajeRechazo" name="mensaje_rechazo" class="w-full p-2 border border-gray-300 rounded-md" placeholder="Ingresa el motivo del rechazo"></textarea>
                    <div class="flex justify-end mt-4">
                        <button type="button" id="cancelarRechazo" class="bg-gray-500 text-white px-4 py-2 rounded mr-2">Cancelar</button>
                        <button type="submit" id="guardarRechazo" class="bg-pink-700 text-white px-4 py-2 rounded">Guardar</button>
                    </div>
                    {% csrf_token %}
                </form>
            </div>
        </div>


        <!-- Modal de confirmación -->
        <div id="confirmModal" class="hidden fixed inset-0 bg-gray-500 bg-opacity-75 flex items-center justify-center z-50">
            <div class="bg-white p-6 rounded-lg shadow-lg w-96">
                <h3 class="text-lg font-bold mb-4">Confirmar cambios</h3>
                <p class="text-xs text-gray-500 "> ¿Estás seguro de que deseas guardar los cambios?</p>
                <div class="flex justify-end mt-4">
                    <button id="cancelarConfirmacion" class="bg-gray-500 text-white px-4 py-2 rounded mr-2">Cancelar</button>
                    <button id="confirmarCambios" class="bg-pink-700 text-white px-4 py-2 rounded">Guardar</button>
                </div>
            </div>
        </div>


    </div>

    <style>
        .contenido-item.dragging {
            opacity: 0.5;
            transform: rotate(3deg);
        }
        
        .kanban-column {
            width: 250px; /* Ancho fijo para cada columna */
            flex: 0 0 250px; /* No permitir que la columna crezca o se encoja */
            max-height: 80vh; /* Altura máxima de la columna */
            overflow-y: auto; /* Hacer scroll interno en la columna */
            overflow-x: hidden;
        }

        .kanban-items {
            max-height: 70vh; /* Limitar la altura del contenido de las tarjetas */
            overflow-y: auto; /* Habilitar scroll interno en el contenedor de tarjetas */
            border: none;
            overflow-x: hidden;
        }

        .contenido-item {
            width: 100%; /* Asegura que las tarjetas no excedan el ancho de la columna */
            max-width: 100%; /* Prevenir desbordamiento horizontal */
        }
        /* Scroll horizontal para la vista general en pantallas más pequeñas */
        @media (max-width: 768px) {
            .container {
                overflow-x: auto; /* Habilitar scroll horizontal para toda la vista en pantallas pequeñas */
            }

            .grid {
                width: max-content; /* Asegura que la cuadrícula no se ajuste al contenedor, permitiendo el scroll horizontal */
                flex-wrap: nowrap; /* Evita que las columnas se apilen */
            }
        }
        
        .kanban-column .contenido-item {
            transition: all 0.2s ease;
        }

        /* Asegura que las tarjetas tengan un hover claro */
        .contenido-item:hover {
            background-color: #f1f5f9;
        }

        .long-text {
            white-space: normal; /* Asegura que el texto no se mantenga en una línea */
            word-wrap: break-word; /* Rompe las palabras largas */
            overflow-wrap: break-word; /* Compatibilidad adicional para algunos navegadores */
            max-width: 100%; /* Asegúrate de que no exceda el ancho */
        }
        
    </style>

    <script>
        const csrfToken = "{{ csrf_token }}";
        const moverAEditar = {{ crear_perm|yesno:"true,false" }};
        const moverAPublicar = {{ editar_perm|yesno:"true,false" }};
        const moverAPublicado = {{ publicar_perm|yesno:"true,false" }};
        const moverAInactivo = {{ inactivar_perm|yesno:"true,false" }};
        const usuarioActualId = {{ request.user.id }};
        setTimeout(function() {
            var mensajeBox = document.getElementById('mensaje_box');
            if (mensajeBox) {
                mensajeBox.style.display = 'none';
            }
        }, 4000);
    </script>

{% endblock content %}