{% extends "base_detalle.html" %}
{% load static %}

{% block title %}
Todos los Contenidos
{% endblock %}

{% block content %}
<div class="max-w-screen-lg mx-auto m-5">

    <!-- Sección de contenidos en tres columnas -->
    <section id="content-grid" class="flex flex-col items-center space-y-6">
        {% for contenido in all_contenidos %}
        <div class="w-full relative sm:aspect-[1/1] lg:aspect-auto bg-white shadow-lg rounded-lg overflow-hidden">
            <a href="{% url 'detalle_contenido' contenido.slug %}" class="block w-full h-full">
                <img class="w-full h-full lg:h-[60vh] overflow-hidden object-cover" 
                     src="{% if contenido.imagen %}{{ contenido.imagen.url }}{% else %}/static/default.jpg{% endif %}" 
                     alt="{{ contenido.titulo }}">
                <div class="p-6">
                    <!-- Autor y categoría -->
                    <div class="text-sm mb-4 flex items-center space-x-3">
                        <img class="w-10 h-10 rounded-full"
                             src="{% if contenido.autor.profile.image %}{{ contenido.autor.profile.image.url }}{% else %}/static/default.png{% endif %}"
                             alt="{{ contenido.autor.username }}">
                        <div>
                            <span class="font-semibold">{{ contenido.autor.username }}</span><br>
                            <span class="text-gray-600">{{ contenido.categoria.nombre_categoria }}</span>
                            <span class="text-gray-600"> - {{ contenido.fecha_creacion|date:"d M Y" }}</span>
                        </div>
                    </div>
                    <!-- Título -->
                    <h3 class="text-2xl font-bold mb-2">{{ contenido.titulo }}</h3>
                    <!-- Resumen -->
                    <p class="text-gray-700 text-base">{{ contenido.resumen|truncatewords:20 }}</p>
                    <!-- Fecha -->
                    <!-- <p class="text-sm text-gray-600 mt-4">{{ contenido.fecha_creacion|date:"d M Y" }}</p> -->
                    <p class="text-gray-700 text-base">{{ contenido.cuerpo|safe|linebreaks  }}</p>
                </div>
            </a>
        </div>
        {% empty %}
            <p class="text-gray-600 col-span-full text-center">No hay posts disponibles.</p>
        {% endfor %}
    </section>
    
    
</div>
{% endblock content %}