{% extends "base.html" %}
{% load static  %}

{% block title %}
    Asignar Rol a Usuario
{% endblock %}

{% block content %}
    <!-- mensajes de avisos/exitos -->
    <div class="mx-1 mb-4">
        {% if messages %}
            <div id="mensaje_box" class="space-y-3">
                {% for message in messages %}
                    <div class="p-4 rounded-md {% if message.tags == 'error' %}bg-red-100 text-red-800{% else %}bg-green-100 text-green-800{% endif %}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <div class="flex justify-center mt-10">
        <form method="post" class="w-full max-w-lg bg-gray-100 p-8 rounded-lg shadow-md">
            {% csrf_token %}
            {{form.as_p}}
            <div class="text-center mt-6"> 
                <button class="w-full bg-pink-700 hover:bg-pink-600 text-white font-bold py-2 px-4 rounded transition duration-300" type="submit">Asignar</button>
            </div>
        </form> 

    </div>

{% endblock %}