{% extends "base.html" %}
{% load static %}

{% block title %}
    Gestión de Roles
{% endblock %}

{% block content %}
<div class="flex justify-center self-center z-10 max-h-screen bg-gray-200">
    <div class="p-6 max-w-full lg:w-full w-full flex flex-col max-h-screen overflow-y-auto">
        <div class="header my-3 h-7 px-2 lg:px-6 flex items-center justify-between">
            <h2 class="font-semibold text-2xl text-gray-800">Gestión de Roles</h2>
        </div>

        <!-- Mensajes de avisos/exitos -->
        <div class="mx-1 mb-4">
            {% if messages %}
                <div class="space-y-3">
                    {% for message in messages %}
                        <div class="p-4 rounded-md {% if message.tags == 'error' %}bg-red-100 text-red-800{% else %}bg-green-100 text-green-800{% endif %}">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="flex flex-col lg:flex-row space-y-6 lg:space-y-0 lg:space-x-4 flex-1">
            <!-- Crear roles -->
            <div class="w-full lg:w-1/4 bg-gray-100 shadow-md p-5 rounded-md flex flex-col max-h-[calc(100vh-6rem)] overflow-y-auto">
                <form method="post" class="flex flex-col h-full w-full">
                    {% csrf_token %}
                    <div class="space-y-3 flex-1">
                        <div>
                            <h3 class="font-medium">Nombre del rol</h3>
                            <input id="id_nombre_rol" name="nombre_rol" type="text" placeholder="Nombre del Rol" class="w-full text-sm px-4 py-3 bg-gray-200 focus:bg-gray-100 border border-gray-200 rounded-lg focus:outline-none focus:border-pink-400" value="{{ form.nombre_rol.value |default_if_none:''}}" required>
                        </div>

                        <div>
                            <label for="id_rol_por_defecto" class="inline-flex items-center">
                                <input id="id_rol_por_defecto" name="rol_por_defecto" type="checkbox" class="text-pink-600 focus:ring-pink-500 border-gray-300 rounded" {% if form.rol_por_defecto.value %}checked{% endif %}>
                                <span class="ml-2">Rol por defecto</span>
                            </label>
                        </div>

                        <div>
                            <h3 class="font-medium">Descripción</h3>
                            <textarea id="id_descripcion" name="descripcion" placeholder="Descripción del Rol" class="w-full text-sm px-4 py-3 bg-gray-200 focus:bg-gray-100 border border-gray-200 rounded-lg focus:outline-none focus:border-pink-400" style="height: 80px; resize: none;"
                            >{{ form.descripcion.value | default_if_none:'' }}</textarea>
                        </div>

                        <h3 class="font-medium">Permisos: </h3>
                        <div style="max-height: 340px; overflow-y: auto;">
                            <label for="id_permisos" class="sr-only">Permisos del rol</label>
                            <div class="space-y-4 w-full text-sm px-4 py-3 rounded-lg">
                                {% for permission in form.permisos.field.queryset %}
                                    <div class="flex items-center">
                                        <input id="id_permisos_{{ permission.id }}" name="permisos" type="checkbox" value="{{ permission.id }}" {% if permission.id in form.permisos.value %}checked{% endif %} class="text-pink-600 focus:ring-pink-500 border-gray-300 rounded">
                                        <label for="id_permisos_{{ permission.id }}" class="ml-2">{{ permission.name }}</label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                    </div>

                    <div class="mt-auto">
                        <button type="submit" class="w-full flex justify-center bg-pink-800 hover:bg-pink-700 text-pink-100 p-2 rounded-lg tracking-wide font-semibold cursor-pointer transition ease-in duration-500">
                            Guardar
                        </button>
                    </div>
                    
                </form>
            </div>

            <!-- Roles existentes -->
            <div class="w-full lg:w-3/4 bg-gray-100 shadow-lg rounded-md border border-gray-200 flex flex-col max-h-[calc(100vh-6rem)] overflow-y-auto">
                <div class="overflow-y-auto flex-1">
                    <table class="table-auto w-full">
                        <thead class="bg-pink-700 rounded-lg sticky top-0 z-10">
                            <tr class="text-sm font-semibold text-pink-100">
                                <th class="p-2 text-center">Nombre</th>
                                <th class="p-2 text-center">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for rol in roles %}
                            <tr class="border-b hover:bg-gray-200">
                                <td class="p-2 text-center">{{ rol.nombre_rol }}</td>
                                <td class="p-2 text-center">
                                    {% if rol.rol_por_defecto %}
                                        <!-- no se editan ni eliminan los roles por defectos -->
                                        <span class="text-gray-500">Sin Acciones</span>
                                    {% else %}
                                        <div class="flex justify-center space-x-4">
                                            <a href="{% url 'modificar_rol' rol.id %}" class="text-green-600 hover:bg-green-100 p-2 rounded-md">
                                                Modificar
                                            </a>
                                            <form method="post" action="{% url 'eliminar_rol' rol.id %}" onsubmit="return confirm('¿Estás seguro de que deseas eliminar este rol?');">
                                                {% csrf_token %}
                                                <button type="submit" class="text-red-600 hover:bg-red-100 p-2 rounded-md">
                                                    Eliminar
                                                </button>
                                            </form>
                                        </div>
                                    {% endif %}
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="2" class="text-center p-4">No existen roles</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
