{% extends "base.html" %}

{% load static %}

{% block script %}<script defer src="{% static 'js/intereses.js' %}"></script>{% endblock script %}

{% block title %}Categorías{% endblock title %}

{% block content %}
<div style="display:none;">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
</div>
<div class="flex justify-center z-10 py-6">
    <div class="p-6 bg-gray-200 mx-auto w-full max-w-6xl">
        <div class="header my-3 h-7 px-2 lg:px-6 flex items-center justify-between mb-6">
            <h2 class="font-semibold text-2xl text-gray-800">Categorías</h2>
        </div>

    
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-8">
            {% for categoria in categorias %}
            <div class="bg-white shadow-md rounded-xl flex flex-col duration-500 hover:scale-105 hover:shadow-xl overflow-hidden">
                <div class="relative flex-1 p-8 flex flex-col justify-between">
          
                    <div class="absolute top-2 right-3 bg-gray-100 text-gray-600 text-xs px-3 py-1 rounded-full">
                        {% if categoria.tipo_categoria == 'PU' %}Pública {% elif  categoria.tipo_categoria == 'GR'%}Gratis {% else %}Paga{% endif %}
                    </div>
                    <div class="flex items-center justify-between">
                        <h5 class="text-lg font-semibold mb-2 text-gray-900 dark:text-gray-800">{{ categoria.nombre_categoria }}</h5>
                        {% if categoria.tipo_categoria == 'PU' or categoria.tipo_categoria == 'GR' or categoria.id in categorias_suscritas_ids %}
                        
                        <button type="submit" class="circle-button" aria-label="Marcar como favorito" data-categoria-id="{{ categoria.id }}" data-action-url="{% url 'categoria_interes' categoria.id %}" title="{% if categoria.id in categorias_interes_ids %}Eliminar de favoritos{% else %}Agregar a favoritos{% endif %}">
                            {% if categoria.id in categorias_interes_ids %}
                              
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ec4899" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                            </svg>
                            {% else %}
                            
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#6b7280" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                            </svg>
                            {% endif %}
                        </button>
                        {% endif %}
                        
                    </div>

            
                    <p class="font-normal text-gray-700 dark:text-gray-600 mb-9">{{ categoria.descripcion|default:"No description available" }}</p>

       
                    <div class="mt-auto">
                        <a href="{% url "categories:detalle" categoria.id %}" class="bg-pink-800 hover:bg-pink-700 text-pink-100 p-2 rounded-lg tracking-wide font-semibold cursor-pointer transition ease-in duration-500 mt-4">
                            Ver Contenidos
                        </a>
                    </div>
                </div>
            </div>
            {% empty %}
            <p class="text-gray-600 text-center p-4">No existen categorías.</p>
            {% endfor %}
        </div>
    </div>
</div>

<!-- Modal de inicio de sesión -->
{% include 'includes/iniciar_sesion.html' %}
{% endblock content %}
