{% extends "base.html" %}

{% block title %}Gestión de Categorías{% endblock title %}

{% block content %}
<div class="flex justify-center self-center z-10">
    <div class="p-6 bg-gray-200 mx-auto w-full lg:w-full min-h-screen flex flex-col">
        <div class="header my-3 h-7 px-2 lg:px-6 flex items-center justify-between">
            <h2 class="font-semibold text-2xl text-gray-800">Gestión de Categorías</h2>
        </div>

        <div class="mx-1 mb-4">
            {% if messages %}
                <div class="space-y-3">
                    {% for message in messages %}
                        {% if 'categoria' in message.tags %}
                            <div class="p-4 rounded-md {% if message.tags == 'error' %}bg-red-100 text-red-800{% else %}bg-green-100 text-green-800{% endif %}">
                                {{ message }}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="flex flex-col lg:flex-row space-y-6 lg:space-y-0 lg:space-x-4 h-[calc(100vh-6rem)]">
            <div class="w-full lg:w-1/4 bg-gray-100 shadow-md p-5 rounded-md">
                <form method="post" class="flex flex-col h-full w-full">
                    {% csrf_token %}
                    <div class="space-y-3 flex-1">
                        {{ form.as_p }}
                    </div>
                    <div class="mt-auto">
                        <button type="submit" class="w-full flex justify-center bg-pink-800 hover:bg-pink-700 text-pink-100 p-2 rounded-lg tracking-wide font-semibold cursor-pointer transition ease-in duration-500">
                            Guardar
                        </button>
                    </div>
                </form>
            </div>

            <div class="w-full lg:w-3/4 bg-gray-100 shadow-lg rounded-md border border-gray-200">
                <div class="overflow-y-auto h-full">
                    <table class="table-auto w-full">
                        <thead class="bg-pink-700 rounded-lg sticky top-0 z-10">
                            <tr class="text-sm font-semibold text-pink-100">
                                <th class="p-2 text-center">Categoría</th>
                                <th class="p-2 text-left">Descripción</th>
                                <th class="p-2 text-center">Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for categoria in categorias %}
                            <tr class="border-b hover:bg-gray-200">
                                <td class="p-2 text-center">{{ categoria.nombre_categoria }}</td>
                                <td class="p-2 text-left">{{ categoria.descripcion }}</td>
                                <td class="p-2 text-center">
                                    <div class="flex justify-center space-x-2">
                                        <a href="{% url 'categories:modificar' pk=categoria.pk %}" class="text-green-600 hover:bg-green-100 p-2 rounded-md">
                                            Modificar
                                        </a>
                                        <form method="post" action="{% url 'categories:eliminar' pk=categoria.pk %}" onsubmit="return confirm('¿Estás seguro de que deseas eliminar esta categoria?');">
                                            {% csrf_token %}
                                            <button type="submit" class="text-red-600 hover:bg-red-100 p-2 rounded-md">
                                                Eliminar
                                            </button>
                                    </div>
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="4" class="text-center p-4">No existen categorías</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
