{% if contenido.categoria.tipo_categoria in categorias_restringidas and not user.is_authenticated %}
    <div class="w-full bg-white shadow-md rounded-xl duration-500 hover:scale-105 hover:shadow-xl overflow-hidden flex flex-col md:flex-row relative ">
        
        <!-- Imagen clickeable -->
        <div class="h-32 md:h-48 lg:h-auto lg:w-48 flex-none bg-cover bg-center" 
            style="background-image: url('{% if contenido.imagen %}{{ contenido.imagen.url }}{% else %}/static/default.jpg{% endif %}'); object-fit: cover;">
            <a href="{% url 'account_login' %}" class="block w-full h-full"></a>
        </div>

        <!-- Categoría -->
        <div class="absolute top-2 right-2 bg-gray-100 text-gray-600 text-xs px-3 py-1 rounded-full">
            {{ contenido.categoria.nombre_categoria }}
        </div>

        <!-- Información -->
        <div class="px-4 py-3 w-full flex flex-col justify-between leading-normal overflow-hidden">
            
            <!-- Autor y Fecha -->
            <div class="flex items-center justify-between mb-2">
                <div class="flex items-center">
                    <img class="w-8 h-8 rounded-full mr-4" src="{% if contenido.autor.profile.image %}{{ contenido.autor.profile.image.url }}{% else %}/static/default.png{% endif %}" alt="Foto del autor">
                    <div class="text-sm">
                        <p class="text-gray-900 leading-none">{{ contenido.autor.username }}</p>
                        <p class="text-gray-600 text-xs">{{ contenido.fecha_creacion|date:"d M Y" }}</p>
                    </div>
                </div>
            </div>

            <!-- Título clickeable -->
            <div class="mb-4">
                <a href="{% url 'account_login' %}">
                    <div class="text-gray-900 font-bold text-lg mb-1 truncate hover:underline hover:text-pink-700" >{{ contenido.titulo }}</div>
                </a>
                
                <!-- Descripción clickeable -->
                <a href="{% url 'account_login' %}">
                    <p class="text-gray-700 text-xs overflow-hidden hover:underline hover:text-pink-700" 
                        style="display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis; font-size: 0.85rem;">
                        {{ contenido.resumen|truncatewords:30 }}
                    </p>
                </a>
            </div>

            {% if perms.permissions.inactivar_contenido or perms.permissions.ver_estadisticas_contenido %}
            <!-- Botón de Opciones  -->
            <div class="absolute bottom-2 right-2">
                <div class="relative">
                    <button onclick="toggleMenu('{{ contenido.id }}')" class="text-gray-500 hover:text-pink-700 focus:outline-none">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" viewBox="0 0 24 24" fill="currentColor">
                            <circle cx="12" cy="5" r="1.5"/>
                            <circle cx="12" cy="12" r="1.5"/>
                            <circle cx="12" cy="19" r="1.5"/>
                        </svg>
                    </button>

                    <!-- Menú desplegable -->
                    
                    <div id="menu-{{ contenido.id }}" class="hidden absolute right-0 bottom-8 w-40 bg-white rounded-md shadow-lg z-10">
                        <div class="py-2">
                            {% if perms.permissions.inactivar_contenido %}
                            <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-pink-700">Inactivar</a>
                            {% endif %}

                            {% if perms.permissions.ver_estadisticas_contenido %}
                            <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-pink-700">Estadísticas</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            
        </div>
    </div>

    <script>
        function toggleMenu(contenidoId) {
            const menu = document.getElementById('menu-' + contenidoId);
            menu.classList.toggle('hidden');
        }
    </script>
{%else%}
<div class="w-full bg-white shadow-md rounded-xl duration-500 hover:scale-105 hover:shadow-xl overflow-hidden flex flex-col md:flex-row relative">
        
    <!-- Imagen clickeable -->
    <div class="h-32 md:h-48 lg:h-auto lg:w-36 flex-none bg-cover bg-center" 
        style="background-image: url('{% if contenido.imagen %}{{ contenido.imagen.url }}{% else %}/static/default.jpg{% endif %}'); object-fit: cover;">
        <a href="{% url 'detalle_contenido' contenido.slug %}" class="block w-full h-full"></a>
    </div>

    <!-- Categoría -->
    <div class="absolute top-2 right-2 bg-gray-100 text-gray-600 text-xs px-3 py-1 rounded-full">
        <a href="{% url 'categories:detalle' contenido.categoria.id %}" class="hover:underline hover:text-pink-700">
            {{ contenido.categoria.nombre_categoria }}
        </a>
    </div>

    <!-- Información -->
    <div class="px-4 py-3 w-full flex flex-col justify-between leading-normal overflow-hidden">
        
        <!-- Autor y Fecha -->
        <div class="flex items-center justify-between mb-2">
            <div class="flex items-center">
                <img class="w-8 h-8 rounded-full mr-4" src="{% if contenido.autor.profile.image %}{{ contenido.autor.profile.image.url }}{% else %}/static/default.png{% endif %}" alt="Foto del autor">
                <div class="text-sm">
                    <p class="text-gray-900 leading-none">{{ contenido.autor.username }}</p>
                    <p class="text-gray-600 text-xs">{{ contenido.fecha_creacion|date:"d M Y" }}</p>
                </div>
            </div>
        </div>

        <!-- Título clickeable -->
        <div class="mb-4">
            <a href="{% url 'detalle_contenido' contenido.slug %}">
                <div class="text-gray-900 font-bold text-lg mb-1 truncate hover:underline hover:text-pink-700" >{{ contenido.titulo }}</div>
            </a>
            
            <!-- Descripción clickeable -->
            <a href="{% url 'detalle_contenido' contenido.slug %}">
                <p class="text-gray-700 text-xs overflow-hidden hover:underline hover:text-pink-700" 
                    style="display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis; font-size: 0.85rem;">
                    {{ contenido.resumen|truncatewords:30 }}
                </p>
            </a>
        </div>

        {% if perms.permissions.inactivar_contenido or perms.permissions.ver_estadisticas_contenido %}
        <!-- Botón de Opciones  -->
        <div class="absolute bottom-2 right-2">
            <div class="relative">
                <button onclick="toggleMenu('{{ contenido.id }}')" class="text-gray-500 hover:text-pink-700 focus:outline-none">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" viewBox="0 0 24 24" fill="currentColor">
                        <circle cx="12" cy="5" r="1.5"/>
                        <circle cx="12" cy="12" r="1.5"/>
                        <circle cx="12" cy="19" r="1.5"/>
                    </svg>
                </button>

                <!-- Menú desplegable -->
                
                <div id="menu-{{ contenido.id }}" class="hidden absolute right-0 bottom-8 w-40 bg-white rounded-md shadow-lg z-10">
                    <div class="py-2">
                        {% if perms.permissions.inactivar_contenido %}
                        <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-pink-700">Inactivar</a>
                        {% endif %}

                        {% if perms.permissions.ver_estadisticas_contenido %}
                        <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-pink-700">Estadísticas</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        
    </div>
</div>

<script>
    function toggleMenu(contenidoId) {
        const menu = document.getElementById('menu-' + contenidoId);
        menu.classList.toggle('hidden');
    }
</script>
{%endif%}
