{% load static %}
<!doctype html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>

  <link href="{% static 'css/output.css' %}" rel="stylesheet">
  <script src="{% static 'js/mensajes.js' %}"></script>
  
  {% block script %}{% endblock %}
</head>

<body class="flex flex-col min-h-screen {% if user.is_authenticated %}authenticated{% endif %}">
  
  {% if user.is_authenticated %}
    <div class="flex flex-1 flex-row">
  {% else %}
  <div class="flex flex-1 flex-col">
  {% endif %}
  
    {% if user.is_authenticated %}
      {% if not is_only_suscriptor %}
        <aside id="sidebar"
        class="fixed z-20 transform -translate-x-full sm:translate-x-0 transition-transform duration-300 ease-in-out flex flex-col min-w-[12rem] max-w-[15rem] w-full h-screen px-5 py-8 bg-white border-r sm:sticky xl:fixed sm:top-0 sm:left-0">
          {% include 'includes/sidebar.html' %}
        </aside>
      {% endif %}
    {% endif %}

    <div class="flex flex-col flex-1 w-full">
      {% if user.is_authenticated %}
       
        <div class="fixed top-3 left-16 z-30 px-4 sm:hidden">
          <button id="toggleSidebar" class="p-3 bg-pink-700 text-white rounded-full shadow-md">
         
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
          </button>
        </div>
      {% endif %}

      <div>
        {% include "includes/navbar.html" %}
        {% if messages %}
        <div class="messages">
          {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">
            {{ message }}
          </div>
          {% endfor %}
        </div>
        {% endif %}
      </div>


      <main class="flex-1 overflow-y-auto mt-8 px-6 py-4 bg-gray-100">
        {% block content %} {% endblock %}
      </main>


      <footer class="py-4 bg-gray-100 text-center text-gray-600 mt-auto">
        <p>© Stark. Todos los derechos reservados.</p>
        <div class="mt-2">
          <a href="#" class="mx-2 hover:underline">Términos</a>
          <a href="#" class="mx-2 hover:underline">Política de Privacidad</a>
          <a href="#" class="mx-2 hover:underline">Contáctenos</a>
        </div>
      </footer>

    </div>
  </div>

  <script>
    const sidebar = document.getElementById('sidebar');
    const toggleSidebarButton = document.getElementById('toggleSidebar');

    toggleSidebarButton.addEventListener('click', function () {
      sidebar.classList.toggle('-translate-x-full');
    });
  </script>
  
</body>

</html>
