{% extends "base.html" %}
{% load thumbnail %}
{% load static %}

{% block title %}Historial | Stark {% endblock title %}

{% block content %}
<div class="p-6 mt-6">
    <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
        <!-- <h2 class="text-3xl font-bold text-gray-800 mb-6">Historial de pagos</h2> -->
        
        <div class="mx-1 mb-4">
            {% if messages %}
                <div id="mensaje_box" class="space-y-3">
                    {% for message in messages %}
                        {% if 'fecha_error' in message.tags %}
                            <div class="p-4 rounded-md bg-red-100 text-red-800">
                                {{ message }}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                {% endif %}
        </div>

        <div class="flex items-center justify-between mb-6">
            <h2 class="text-3xl font-bold text-gray-800">Historial de pagos</h2>
            
            <form method="get" class="flex items-center space-x-4">
                <div>
                    <label for="fecha_desde" class="block text-sm font-medium text-gray-700">Fecha desde:</label>
                    <input type="date" id="fecha_desde" name="fecha_desde" class="mt-1 block w-48 pl-3 pr-10 py-2 text-sm border-gray-300 rounded-md" 
                        value="{{ fecha_desde }}">
                </div>

                <div>
                    <label for="fecha_hasta" class="block text-sm font-medium text-gray-700">Fecha hasta:</label>
                    <input type="date" id="fecha_hasta" name="fecha_hasta" class="mt-1 block w-48 pl-3 pr-10 py-2 text-sm border-gray-300 rounded-md" 
                        value="{{ fecha_hasta }}">
                </div>

                <button type="submit"
                    class="inline-flex items-center mt-5 px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-pink-800 hover:bg-pink-700">
                    Filtrar
                </button>

                <!-- Enlace para borrar filtros -->
                <a href="{% url 'ver_historial_compras' %}"
                class="inline-flex items-center mt-5 px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-gray-400 hover:bg-gray-500 focus:outline-none">
                    Borrar Filtros
                </a>
            </form>
        </div>
        
        <div class="overflow-x-auto relative">
            <table class="min-w-full divide-y divide-gray-200">
                <thead class="bg-pink-700 rounded-lg sticky top-0 z-10">
                    <tr class="text-sm font-semibold text-pink-100">
                        <th class="p-2 text-left">Usuario</th>
                        <th class="p-2 text-left">Categoría</th>
                        <th class="p-2 text-left">Fecha del Pago</th>
                        <th class="p-2 text-left">Hora del Pago</th>
                        <th class="p-2 text-left">Monto</th>
                        <th class="p-2 text-left">Medio de Pago</th>
                    </tr>
                </thead>
                <tbody class="bg-white divide-y divide-gray-200">
                    {% for pago in historial_pagos %}
                    <tr>
                        <td class="p-2">{{ pago.profile.user.username }}</td>
                        <td class="p-2">
                            <a href="{% url 'categories:detalle' pago.categoria.id %}" class="text-gray-900 hover:text-pink-600">{{ pago.categoria.nombre_categoria }}</a>
                        </td>
                        <td class="p-2">{{ pago.fecha_pago|date:"Y-m-d" }}</td>
                        <td class="p-2">{{ pago.fecha_pago|time:"H:i" }}</td>
                        <td class="p-2">{{ pago.monto }} Gs</td>
                        <td class="p-2">{{ pago.medio_pago }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="6" class="text-center p-4">No existen pagos realizados en el sistema</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
        <!-- Total general -->
        <div class="mt-4">
            <h3 class="text-lg font-semibold text-gray-800">Total General: {{ total_general }} Gs</h3>
        </div>
        
    </div>
</div>

{% endblock content %}
