<!--Reporte 5: compartidos-->
<div class="max-w-[600px] w-full bg-white rounded-lg shadow dark:bg-gray-800 p-4 md:p-6">
        
  <div class="flex justify-between mb-3">
      <div class="flex justify-center items-center">
          <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white pe-1">Compartidos por Categoría</h5>
          <svg data-popover-target="chart-info" data-popover-placement="bottom" class="w-3.5 h-3.5 text-gray-500 dark:text-gray-400 hover:text-gray-900 dark:hover:text-white cursor-pointer ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm0 16a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3Zm1-5.034V12a1 1 0 0 1-2 0v-1.418a1 1 0 0 1 1.038-.999 1.436 1.436 0 0 0 1.488-1.441 1.501 1.501 0 1 0-3-.116.986.986 0 0 1-1.037.961 1 1 0 0 1-.96-1.037A3.5 3.5 0 1 1 11 11.466Z"/>
          </svg>
          <div data-popover id="chart-info" role="tooltip" class="absolute z-10 invisible inline-block text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 w-72 dark:bg-gray-800 dark:border-gray-600 dark:text-gray-400">
              <div class="p-3 space-y-2">
                  <h3 class="font-semibold text-gray-900 dark:text-white">Promedio de Compartidos por Categoría</h3>
                  <p>Se muestra para cada categoría la cantidad de veces que se ha compartido un contenido respecto al total de publicaciones en cada categoría. Además en el centro se muestra el total global de compartidos</p>
                  <h3 class="font-semibold text-gray-900 dark:text-white">Calculo</h3>
                  <p>Por cada categoría, se realiza el promedio del numero de compartidos de las publicaciones en un rango de fecha de inicio y de fin que es determinado por el usuario, por defecto se muestrarn los últimos 7 días</p>
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
            </svg></a>
              </div>
              <div data-popper-arrow></div>
          </div>
        </div>
      
  </div>

  <!-- Donut Chart -->
  <div class="py-6" id="donut-chart"></div>

  <div class="grid grid-cols-1 items-center border-gray-200 border-t dark:border-gray-700 justify-between">
    <div class="flex justify-between items-center pt-5">
      <!-- Button -->
      <button
        id="dropdownDefaultButton-4"
        data-dropdown-toggle="lastDaysdropdown-4"
        data-dropdown-placement="bottom"
        class="text-sm font-medium text-gray-500 dark:text-gray-400 hover:text-gray-900 text-center inline-flex items-center dark:hover:text-white"
        type="button">
        Ultimos 90 dias
        <svg class="w-2.5 m-2.5 ms-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
        </svg>
      </button>
      <div id="lastDaysdropdown-4" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
          <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
            <li>
              <a class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Ayer</a>
            </li>
            <li>
              <a class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Hoy</a>
            </li>
            <li>
              <a class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Ultimos 7 dias</a>
            </li>
            <li>
              <a class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Ultimos 30 dias</a>
            </li>
            <li>
              <a class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Ultimos 90 dias</a>
            </li>
          </ul>
      </div>
    </div>
  </div>
</div>

<script>
  /*Reporte 4: Compartidos*/
  data4 = {{ avg_compartidos|safe }}

  const getChartOptions4 = () => {
    return {
      series: data4.series,
      colors: data4.colors,
      chart: {
        height: 320,
        width: "100%",
        type: "donut",
        toolbar: {
          show: true,
        },
      },
      stroke: {
        colors: ["transparent"],
        lineCap: "",
      },
      plotOptions: {
        pie: {
          donut: {
            labels: {
              show: true,
              name: {
                show: true,
                fontFamily: "Inter, sans-serif",
                offsetY: 20,
              },
              total: {
                showAlways: true,
                show: true,
                label: "Total Compartidos",
                fontFamily: "Inter, sans-serif",
                formatter: function (w) {
                  const sum = w.globals.seriesTotals.reduce((a, b) => {
                    return a + b
                  }, 0)
                  return '' + Math.round(sum) + ''
                },
              },
              value: {
                show: true,
                fontFamily: "Inter, sans-serif",
                offsetY: -20,
                formatter: function (value) {
                  return value + ""
                },
              },
            },
            size: "80%",
          },
        },
      },
      grid: {
        padding: {
          top: -2,
        },
      },
      labels: data4.labels,
      dataLabels: {
        enabled: false,
      },
      legend: {
        position: "bottom",
        fontFamily: "Inter, sans-serif",
      },
      yaxis: {
        labels: {
          formatter: function (value) {
            return value + ""
          },
        },
      },
      xaxis: {
        labels: {
          formatter: function (value) {
            return value  + ""
          },
        },
        axisTicks: {
          show: false,
        },
        axisBorder: {
          show: false,
        },
      },
    }
  }

  let chart4;

  if (document.getElementById("donut-chart") && typeof ApexCharts !== 'undefined') {
    chart4 = new ApexCharts(document.getElementById("donut-chart"), getChartOptions4());
    chart4.render();
  }

    /*lógica para el filtro de fecha*/
    document.addEventListener("DOMContentLoaded", () => {
      const dropdownItems = document.querySelectorAll('#lastDaysdropdown-4 a');
      const dateRangeButton = document.getElementById('dropdownDefaultButton-4');
      const reportId = 4;
  
      dropdownItems.forEach(item => {
        item.addEventListener("click", (event) => {
          event.preventDefault();
    
          // actualiza el label del botón
          dateRangeButton.innerText = item.innerText;
    
          // Fetch data
          const selectedRange = item.innerText;
          fetchChartDataForRange4(selectedRange, reportId);
        });
      });
    });
  
    function fetchChartDataForRange4(range, reportId) {
      // Función que llama a la api basado en el 'range'
      // el segundo parámetro report es para el número de reporte que se filtra
      fetch(`/report-data?range=${range}&report=${reportId}`)
        .then(response => response.json())
        .then(data => {
          // el formato de los datos debe ser el mismo al inicial
          updateChart4(data);
        })
        .catch(error => console.error('Error fetching data:', error));
    }
  
    function updateChart4(newData) {
      // actualiza el chart con los nuevos datos
      chart4.updateOptions({
        series: newData.series,
        colors: newData.colors,
        labels: newData.labels,
      })
    }
</script>