<!-- Chart circular reporte 1, promedio de contenido por categoría -->
<div class="w-full bg-white rounded-lg shadow dark:bg-gray-800 p-4 md:p-6">
  <div class="flex justify-between items-start w-full">
      <div class="flex-col items-center">
        <div class="flex items-center mb-1">
            <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white me-1">Contenido por Categoría</h5>
            <svg data-popover-target="chart-info-1" data-popover-placement="bottom" class="w-3.5 h-3.5 text-gray-500 dark:text-gray-400 hover:text-gray-900 dark:hover:text-white cursor-pointer ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm0 16a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3Zm1-5.034V12a1 1 0 0 1-2 0v-1.418a1 1 0 0 1 1.038-.999 1.436 1.436 0 0 0 1.488-1.441 1.501 1.501 0 1 0-3-.116.986.986 0 0 1-1.037.961 1 1 0 0 1-.96-1.037A3.5 3.5 0 1 1 11 11.466Z"/>
            </svg>
            <div data-popover id="chart-info-1" role="tooltip" class="absolute z-10 invisible inline-block text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 w-72 dark:bg-gray-800 dark:border-gray-600 dark:text-gray-400">
              <div class="p-3 space-y-2">
                  <h3 class="font-semibold text-gray-900 dark:text-white">Porcentaje de Contenido Publicado por Categoría</h3>
                  <p>Se muestra el porcentaje de contenidos publicados en procentaje respecto al total de contenidos existentes en cada categoría</p>
                  <h3 class="font-semibold text-gray-900 dark:text-white">Calculo</h3>
                  <p>Para cada categoría se calcula la cantidad total de contenido publicado y este es dividido entre la cantidad total de contenidos publicados para optener el porcentaje asignado a cada categoría respecto al total.</p>
              </div>
            <div data-popper-arrow></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Line Chart -->
  <div class="py-6" id="pie-chart"></div>

  <div class="grid grid-cols-1 items-center border-gray-200 border-t dark:border-gray-700 justify-between">
    <div class="flex justify-between items-center pt-5">
      <!-- Button -->
      <button
        id="dropdownDefaultButton-1"
        data-dropdown-toggle="lastDaysdropdown-1"
        data-dropdown-placement="bottom"
        class="text-sm font-medium text-gray-500 dark:text-gray-400 hover:text-gray-900 text-center inline-flex items-center dark:hover:text-white"
        type="button">
        Ultimos 90 días
         <svg class="w-2.5 m-2.5 ms-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
        </svg>
      </button>
      <div id="lastDaysdropdown-1" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
          <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
            <li>
              <a class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Ayer</a>
            </li>
            <li>
              <a class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Hoy</a>
            </li>
            <li>
              <a class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Ultimos 7 dias</a>
            </li>       
            <li>
              <a class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Ultimos 30 dias</a>
            </li>
            <li>
              <a class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Ultimos 90 dias</a>
            </li>
          </ul>
      </div>
    </div>
  </div>
</div>

<script>

  let chart;  // variable global para el gráfico

  /*reporte 1*/  
  const getChartOptions = () => {
    return {
      series: {{ contenido_por_categorias.series|safe }},
      labels: {{ contenido_por_categorias.labels|safe }},
      colors: ["#1C64F2", "#16BDCA", "#9061F9", "#34D399", "#F97316", "#E11D48", "#0EA5E9", "#E4007C",],
      chart: {
        height: 420,
        width: "100%",
        type: "pie",
        toolbar: {
          show: true,
        },
      },
      stroke: {
        colors: ["white"],
        lineCap: "",
      },
      plotOptions: {
        pie: {
          labels: {
            show: true,
          },
          size: "100%",
          dataLabels: {
            offset: -25
          }
        },
      },
      dataLabels: {
        enabled: true,
        style: {
          fontFamily: "Inter, sans-serif",
        },
      },
      legend: {
        position: "bottom",
        fontFamily: "Inter, sans-serif",
      },
      yaxis: {
        labels: {
          formatter: function (value) {
            return value + "%"
          },
        },  
      },
      xaxis: {
        labels: {
          formatter: function (value) {
            return value  + "%"
          },
        },
        axisTicks: {
          show: false,
        },
        axisBorder: {
          show: false,
        },
      },
    }
  }

  /*lógica para el filtro de fecha*/
  document.addEventListener("DOMContentLoaded", () => {
    const dropdownItems = document.querySelectorAll('#lastDaysdropdown-1 a');
    const dateRangeButton = document.getElementById('dropdownDefaultButton-1');
    const reportId = 1;

    dropdownItems.forEach(item => {
      item.addEventListener("click", (event) => {
        event.preventDefault();
  
        // actualiza el label del botón
        dateRangeButton.innerText = item.innerText;
  
        // Fetch data
        const selectedRange = item.innerText;
        fetchChartDataForRange(selectedRange, reportId);
      });
    });
  });

  function fetchChartDataForRange(range, reportId) {
    // Función que llama a la api basado en el 'range'
    // el segundo parámetro report es para el número de reporte que se filtra
    // en este caso el reporte 1
    fetch(`/report-data?range=${range}&report=${reportId}`)
      .then(response => response.json())
      .then(data => {
        // el formato de los datos debe ser el mismo al inicial
        updateChart(data);
      })
      .catch(error => console.error('Error fetching data:', error));
  }

  /*se instancia el gráfico*/
  if (document.getElementById("pie-chart") && typeof ApexCharts !== 'undefined') {
    chart = new ApexCharts(document.getElementById("pie-chart"), getChartOptions());
    chart.render();
  }

  function updateChart(newData) {
    // actualiza el chart con los nuevos datos
    chart.updateOptions({
      series: newData.series,
      labels: newData.labels,
    });
  }

  // Handle Flowbite Popovers by targeting unique IDs
  const popoverTrigger = element.querySelector(`[data-popover-target="chart-info-1"]`);
  if (popoverTrigger) {
    new Popover(popoverTrigger, {
      triggerType: 'hover',
    });
  }

</script>