<!-- Reporte 2: Promedio de visualizaciones por categoría-->
<div class="w-full bg-white rounded-lg shadow dark:bg-gray-800 p-4 md:p-6">
  <div class="flex justify-between pb-4 mb-4 border-b border-gray-200 dark:border-gray-700">
    <div class="flex items-center">
      <div>
        <h5 class="leading-none text-2xl font-bold text-gray-900 dark:text-white pb-1">Visualizaciones Generadas</h5>
        <p class="text-sm font-normal text-gray-500 dark:text-gray-400">Promedio de visualizaciones por categoría</p>
      </div>
    </div>
  </div>

  <div id="column-chart"></div>
    <div class="grid grid-cols-1 items-center border-gray-200 border-t dark:border-gray-700 justify-between">
      <div class="flex justify-between items-center pt-5">
        <!-- Button -->
        <button
          id="dropdownDefaultButton-2"
          data-dropdown-toggle="lastDaysdropdown-2"
          data-dropdown-placement="right"
          class="text-sm font-medium text-gray-500 dark:text-gray-400 hover:text-gray-900 text-center inline-flex items-center dark:hover:text-white"
          type="button">
          Últimos 90 días
          <svg class="w-2.5 m-2.5 ms-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
          </svg>
        </button>
        <!-- Dropdown menu -->
        <div id="lastDaysdropdown-2" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
            <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
              <li>
                <a class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Ayer</a>
              </li>
              <li>
                <a class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Hoy</a>
              </li>
              <li>
                <a class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Ultimos 7 dias</a>
              </li>
              <li>
                <a class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Ultimos 30 dias</a>
              </li>
              <li>
                <a class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Ultimos 90 dias</a>
              </li>
            </ul>
        </div>
      </div>
    </div>
</div>

<script>
  /* reporte 2*/
  const chartData = {{ reporte_visualizaciones.avg_por_categoria|safe }};
  const options2 = {
    colors: chartData.map((series) => series.color),
    series: [{
      data: chartData.map(series => series.data),
    }],
    chart: {
      type: "bar",
      height: "369px",
      fontFamily: "Inter, sans-serif",
      toolbar: {
        show: true,
      },
      stacked: false,
    },
    plotOptions: {
      bar: {
        barHeight: '100%',
        distributed: true,
        horizontal: false,
        columnWidth: "80%",
        borderRadiusApplication: "end",
        borderRadius: 8,
        endingShape: 'rounded',
      },
    },
    tooltip: {
      shared: true,
      intersect: false,
      style: {
        fontFamily: "Inter, sans-serif",
      },
    },
    states: {
      hover: {
        filter: {
          type: "darken",
          value: 1,
        },
      },
    },
    stroke: {
      show: true,
      width: 0,
      colors: ["transparent"],
    },
    grid: {
      show: false,
      strokeDashArray: 4,
      padding: {
        left: 2,
        right: 2,
        top: -14
      },
    },
    dataLabels: {
      enabled: false,
      offsetX: 0,
    },
    legend: {
      show: true,
      position: 'bottom',
    },
    xaxis: {
      categories: chartData.map(series => series.name),
      floating: false,
      labels: {
        show: false,
      },
      axisBorder: {
        show: false,
      },
      axisTicks: {
        show: false,
      },
    },
    yaxis: {
      show: true,
      title: {
        text: 'Visualizaciones',
        style: {
          fontFamily: "Inter, sans-serif",
          fontSize: '12px',
          cssClass: 'text-xs font-normal fill-gray-500 dark:fill-gray-400'
        }
      }
    },
    fill: {
      opacity: 1,
    },
  }

  let chart2;

  if(document.getElementById("column-chart") && typeof ApexCharts !== 'undefined') {
    chart2 = new ApexCharts(document.getElementById("column-chart"), options2);
    chart2.render();
  }

  /*lógica para el filtro de fecha*/
  document.addEventListener("DOMContentLoaded", () => {
    const dropdownItems = document.querySelectorAll('#lastDaysdropdown-2 a');
    const dateRangeButton = document.getElementById('dropdownDefaultButton-2');
    const reportId = 2;

    dropdownItems.forEach(item => {
      item.addEventListener("click", (event) => {
        event.preventDefault();
  
        // actualiza el label del botón
        dateRangeButton.innerText = item.innerText;
  
        // Fetch data
        const selectedRange = item.innerText;
        fetchChartDataForRange2(selectedRange, reportId);
      });
    });
  });

  function fetchChartDataForRange2(range, reportId) {
    // Función que llama a la api basado en el 'range'
    // el segundo parámetro report es para el número de reporte que se filtra
    fetch(`/report-data?range=${range}&report=${reportId}`)
      .then(response => response.json())
      .then(data => {
        // el formato de los datos debe ser el mismo al inicial
        updateChart2(data);
      })
      .catch(error => console.error('Error fetching data:', error));
  }

  function updateChart2(newData) {
    // actualiza el chart con los nuevos datos
    const data = newData.avg_por_categoria;
    chart2.updateOptions({
      colors: data.map((series) => series.color),
      series: [{
        data : data.map(series => series.data)
      }],
      xaxis: {
        categories: data.map(series => series.name),
      },
    });
  }
  
</script>