
<div class="max-w-screen-lg w-full bg-white rounded-lg shadow dark:bg-gray-800 p-4 md:p-6">
    <div class="flex justify-between pb-3">
        <div>
            <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white me-1">Montos Totales de Pago</h5>
            <p class="text-base font-normal text-gray-500 dark:text-gray-400">Pagos por Categoria y por Fecha</p>
        </div>
    </div>
  
    <div id="bar-chart1"></div>
        
  </div>
  

  <script>
    document.addEventListener("DOMContentLoaded", function () {
        const fecha = {{ montos_categoria.fechas|safe }};
        const series = {{ montos_categoria.series|safe }};
        
        const options = {
            series: series.map((serie, index) => ({
                name: serie.name,
                data: serie.data,
                color: "#" + ((1 << 24) * Math.random() | 0).toString(16).padStart(6, '0')
            })),
            chart: {
                type: "bar",
                height: 400,
                toolbar: { show: true }
            },
            plotOptions: {
                bar: { horizontal: true, borderRadius: 6 }
            },
            xaxis: {
                categories: fecha,
                labels: { formatter: (value) => value + " GS" }
            },
            tooltip: { y: { formatter: (value) => value + " GS" } }
        };
        
        if (document.getElementById("bar-chart1")) {
            const chart = new ApexCharts(document.getElementById("bar-chart1"), options);
            chart.render();
        }
    });
    </script>
    