<!--Reporte 6: valoraciones-->
<div class="w-full bg-white rounded-lg shadow dark:bg-gray-800">
  <div class="flex justify-between p-4 md:p-6 pb-0 md:pb-0">
    <div>
      <h4 class="leading-none text-2xl font-bold text-gray-900 dark:text-white pb-2">Promedio de valoraciones</h4>
      <p class="text-base font-normal text-gray-500 dark:text-gray-400">Valoraciones por categoría en función del tiempo</p>
    </div>
  </div>
  <div id="labels-chart" class="px-2.5"></div>
  <div class="grid grid-cols-1 items-center border-gray-200 border-t dark:border-gray-700 justify-between mt-5 p-4 md:p-6 pt-0 md:pt-0">
    <div class="flex justify-between items-center pt-5">
      <!-- Button -->
      <button
        id="dropdownDefaultButton"
        data-dropdown-toggle="lastDaysdropdown"
        data-dropdown-placement="bottom"
        class="text-sm font-medium text-gray-500 dark:text-gray-400 hover:text-gray-900 text-center inline-flex items-center dark:hover:text-white"
        type="button">
        Últimos 90 días
        <svg class="w-2.5 m-2.5 ms-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
        </svg>
      </button>
      <!-- Dropdown menu -->
      <div id="lastDaysdropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
          <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
            <li>
              <a class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Ayer</a>
            </li>
            <li>
              <a class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Hoy</a>
            </li>
            <li>
              <a class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Ultimos 7 dias</a>
            </li>
            <li>
              <a class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Ultimos 30 dias</a>
            </li>
            <li>
              <a class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Ultimos 90 dias</a>
            </li>
          </ul>
      </div>
    </div>
  </div>
</div>

<script>

  const data5 = {{ avg_valoraciones|safe }}
  /*reporte 5: valoraciones*/
  const options5 = {
    // set the labels option to true to show the labels on the X and Y axis
    xaxis: {
      show: true,
      categories: data5.categories ,
      labels: {
        show: true,
        style: {
          fontFamily: "Inter, sans-serif",
          cssClass: 'text-xs font-normal fill-gray-500 dark:fill-gray-400'
        }
      },
      axisBorder: {
        show: false,
      },
      axisTicks: {
        show: false,
      },
    },
    yaxis: {
      show: true,
      labels: {
        show: true,
        style: {
          fontFamily: "Inter, sans-serif",
          cssClass: 'text-xs font-normal fill-gray-500 dark:fill-gray-400'
        },
        formatter: function (value) {
          return '' + value;
        }
      }
    },
    series: data5.series,
    chart: {
      sparkline: {
        enabled: false
      },
      height: "60%",
      width: "100%",
      type: "area",
      fontFamily: "Inter, sans-serif",
      dropShadow: {
        enabled: false,
      },
      toolbar: {
        show: true,
      },
    },
    tooltip: {
      enabled: true,
      x: {
        show: false,
      },
    },
    legend: {
      show: true,
    },
    fill: {
      type: "gradient",
      gradient: {
        opacityFrom: 0.55,
        opacityTo: 0,
        shade: "#1C64F2",
        gradientToColors: ["#1C64F2"],
      },
    },
    dataLabels: {
      enabled: false,
    },
    stroke: {
      width: 6,
    },
    grid: {
      show: false,
      },
    }

  let chart5;
  
  if (document.getElementById("labels-chart") && typeof ApexCharts !== 'undefined') {
    chart5 = new ApexCharts(document.getElementById("labels-chart"), options5);
    chart5.render();
  }

    /*lógica para el filtro de fecha*/
  document.addEventListener("DOMContentLoaded", () => {
    const dropdownItems = document.querySelectorAll('#lastDaysdropdown a');
    const dateRangeButton = document.getElementById('dropdownDefaultButton');
    const reportId = 5;

    dropdownItems.forEach(item => {
      item.addEventListener("click", (event) => {
        event.preventDefault();
  
        // actualiza el label del botón
        dateRangeButton.innerText = item.innerText;
  
        // Fetch data
        const selectedRange = item.innerText;
        fetchChartDataForRange5(selectedRange, reportId);
      });
    });
  });

  function fetchChartDataForRange5(range, reportId) {
    // Función que llama a la api basado en el 'range'
    // el segundo parámetro report es para el número de reporte que se filtra
    fetch(`/report-data?range=${range}&report=${reportId}`)
      .then(response => response.json())
      .then(data => {
        // el formato de los datos debe ser el mismo al inicial
        updateChart5(data);
      })
      .catch(error => console.error('Error fetching data:', error));
  }

  function updateChart5(newData) {
    // actualiza el chart con los nuevos datos
    chart5.updateOptions({
      series: newData.series,
      xaxis: {
        categories: newData.categories,
      }
    })
  }
</script>